* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(206, 197, 197, 0.027);
	overflow-x: hidden;
}
.appBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30em 20px 29.5em;
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(231, 231, 231);
}
.logoContainer {
	display: flex;
	align-items: center;
}
.logo {
	font-weight: 600;
	font-size: 27px;
	color: rgb(49, 214, 159);
	font-family: Arial, sans-serif;
}
.categoryIcon {
	display: flex;
	align-items: center;
	padding: 0 18px;
	font-size: 18px;
	color: "rgb(89, 236, 187)";
}
.categoryContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.categoryText {
	margin-right: 5px;
}

.menuIcon {
	font-size: 1.2rem;
}

.menuContainer {
	display: flex;
	align-items: center;
	margin-left: -6em;
}

.searchContainer {
	width: 22em;
	position: relative;
	display: flex;
	align-items: center;
	padding: 5px 10px;
	margin-right: 20px;
	border-radius: 3px;
	border: 1px solid rgb(216, 216, 216);
}

.searchInput {
	padding: 5px 25px 5px 5px;
	border: none;
	width: 20em;
	border-radius: 20px;
	transition: border-color 0.3s ease;
	outline: none;
}
.searchContainer:focus-within {
	border-color: rgb(40, 207, 151);
}

.searchContainer:focus-within .searchInput {
	border-color: transparent;
}

.searchInput.focus {
	box-shadow: none;
}

.searchIcon {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
}

.loginSignup {
	cursor: pointer;
}
.searchResult {
	position: absolute;
	display: flex;
	align-items: start;
	z-index: 5;
	top: 65px;
	left: 51em;
	border-radius: 3px;
	width: 16.5%;
	height: 10em;
	padding-left: 20px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(175, 175, 175);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.dropdownContainer {
	position: absolute;
	display: flex;
	align-items: center;
	z-index:999;
	top: 73px;
	left: 0;
	width: 100%;
	padding: 0 20em 0 28.3em;
	height: 10.8em;
	background-color: rgb(255, 255, 255);
	border-radius: 0;
	overflow: hidden;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.dropdownItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 12px;
	cursor: pointer;
}

.dropdownItem p {
	margin: 0;
	font-size: 16px;
	padding-top: 3px;
	font-weight: 100;
}
.dropdownItem span {
	background-color: #f0f0f0;
	border-radius: 20px;
	padding: 15px 20px;
	margin-bottom: px;
}
.dropdownItem:hover {
	background-color: #f0f0f0;
}
.slider-container {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.image-slider-container {
	position: relative;
	margin-top: -10px;
}

.slide img {
	width: 100%; 
}

.custom-arrow {
	position: absolute;
	color: black;
	top: 50%;
	transform: translateY(-50%);
}

.custom-prev-arrow {
	left: 0;
}

.custom-next-arrow {
	right: 0;
}

.arrows-container {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
	z-index: 1; /* Ensure the arrows are above the slider images */
}

.slick-prev {
	left: 10px;
}

.slick-next {
	right: 10px;
}

.slide {
	padding: 0 25px;
	position: relative;
}
.image-slider-container {
	/* position: relative; */
}

.image-slider-container::before,
.image-slider-container::after {
	content: "";
	z-index: 9;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 24.8%;
	background-color: rgba(236, 236, 236, 0.829); 
}

.image-slider-container::before {
	left: 0;
}

.image-slider-container::after {
	right: 0;
}
.slide img {
	width: 100%;
	height: 20em;
}
.image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color 0.3s ease;
}

.slide.active .image-overlay {
	background-color: transparent;
}
.shortcuts-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 0 29.6em;
	margin-top: 44px;
}
.shortcut {
	display: flex;
	padding: 10px 5px;
	flex-direction: column;
	align-items: center;
	margin-right: 24px;
	margin-bottom: 20px;
}
.shortcut span {
	font-size: 12px;
	margin-top: 5px;
}
.shortcut img {
	width: 64px;
	height: 64px;
}
.body {
	margin: 45px 0 0 29.5em;
}
.collection-item .left {
	width: 11.7em;
	font-size: 17px;
	font-family: Arial, sans-serif;
}
.collection-item .left h2 {
    margin: 0;
    font-size: 20px;
    white-space: pre-wrap !important; 
    word-wrap: break-word !important; 
}

.collection-item .left p {
	font-size: 12px;
	color: rgb(145, 145, 145);
}
.collection-item {
	display: flex;
	margin-bottom: 50px;
}
.collection-item .left h2 {
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.collection-item .left p {
	font-size: 12px;
}

.collection-item .right {
	width: 54.2em;
}

.collection-item .right .each {
	display: inline-block;
	margin-right: 5px;
	width: 100%;
}

.collection-item .right .each p {
	width: 10em;
	margin: 5px 0;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.4em;
	max-height: 2.8em;
	text-overflow: ellipsis;
	white-space: normal;
	font-size: 15px;
}

.item-container {
	margin-left: 9em;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	scrollbar-width: none;
	-ms-overflow-style: none;
	display: flex;
}

.item-container::-webkit-scrollbar {
	display: none;
}

.img-container {
	border-radius: 5px;
	width: 177px;
	height: 180px;
	overflow: hidden;
}

.img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.scroll-icons {
	position: absolute;
	left: 30em;
	z-index: 99;
	top: 57em;
	color: rgb(194, 194, 194);
}

/* Responsive part */
@media screen and (min-width: 1024px) and (max-width: 1724px) {
	.appBar {
		padding: 20px 5%;
	}

	.searchContainer {
		width: auto;
		margin-right: 5%;
	}

	.searchInput {
		width: calc(100% - 30px);
	}

	.searchResult {
		left: auto;
		right: 5%;
	}

	.dropdownContainer {
		top: 63px;
		padding-left: 5%;
	}

	.shortcuts-container {
		margin: 90px 0 0 10%;
		display: flex;
		flex-wrap: wrap;
		margin-left: 9.4em;
		gap: 1.4%;
	}
	.shortcut span {
		font-size: 12px;
	}
	.shortcut img {
		width: 55px;
		height: 55px;
	}

	.scroll-icons {
		position: absolute;
		left: 8%;
	}
	.body {
		margin: 100px 3% 0 2%;
		margin-left: 12%;
	}

	.collection-item {
		margin-right: 2%;
	}
	.collection-item .each p {
		width: auto;
		white-space: normal;
		overflow: visible;
		display: block;
		-webkit-line-clamp: unset;
		line-height: unset;
		max-height: unset;
		text-overflow: unset;
	}
	.collection-item .left {
		width: 8em;
		font-size: 15px;
	}
	.collection-item .right .each {
		width: auto;
		margin-right: 6px;
	}
}

@media screen and (max-width: 920px) {
	body {
		width: 750px;
		margin: 0 auto;
		padding: 0 150px 0 100px;
		box-sizing: border-box;
	}
	.appBar {
		background-color: aquamarine;
		padding: 20px 5%;
	}

	.image-slider-container {
		position: relative;
    width: 40em;
    margin-left:-25px;
	}

	.image-slider-container::before,
	.image-slider-container::after {
    display: none;
	}
	.shortcuts-container {
		margin: 90px 0 0 10%;
		display: flex;
		flex-wrap: wrap;
		margin-left: 2em;
		gap: 1.4%;
	}
	.shortcut span {
		font-size: 12px;
	}
	.shortcut img {
		width: 55px;
		height: 55px;
	}
  .body {
		margin: 100px 3% 0 2%;
		margin-left: 3%;
	}
	.collection-item {
    display: flex;
    flex-direction: column;
    align-items: start;
	}
	.collection-item .left {
		font-size:10px;
    font-weight: 500;
	}
	.collection-item .right {
    margin-left: -9em;
  }
  
  .collection-item .right .each {
    display: inline-block;
    margin-right: 15px;
  }

  .item-container {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .item-wrapper {
    width: 50%; 
    margin-right: -100px;
    box-sizing: border-box;
  }
  
  .scroll-icons{
    display: none;
  }
  .item-container p{
    font-size: 12px;
  }
  .collection-item .left {
    margin-bottom: 2px;
  }
  .collection-item .left h2{
    width: 19em;
  }
  .collection-item .left p{
    width: 24em;
  }
  
}
